*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:black ;
}
.quote-box{
  width: 700px;
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 40px 100px;
  border-radius: 10px;
  text-align: center;
  box-shadow:0 10px 20px 0px rgba(0, 0, 0, 0.15) ;
  background-color:rgb(13, 13, 41) ;
  padding-top: 75px;
}

.quote-box h2{

  font-size: 32px;
  margin-bottom: 40px;
  position:relative;
  color: rgb(47,255,130);
  
}

.quote-box h2::after{
  content:'';
  width: 75px;
  height:3px;
 
  border-radius: 3px;
  background:rgb(39, 79, 121);
  position:absolute;
  bottom:-10px;
  left:50%;
  transform:translateX(-50%);
}

.quote-box blockquote{
  font-size: 26px;
  min-height: 110px;
  color: rgb(199, 196, 196);
  padding-top: 28px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
  content:'"';
}
.quote-box span{
  display: block;
  margin-top: 10px;
  float: right;
  position:relative;
  color: rgb(47,255,130);
  font-weight: bold;
  
}
/*Design the small bar in frontof the author's name*/
.quote-box span::before{
  content:'';
  width: 20px;
  height: 2px;
  background: rgb(39, 79, 121);
  position: absolute;
  top: 50%;
  left: -30px;
}
/*Design the two buttons */

.quote-box div{
 width: 100%;
 margin-top: 50px;
 display:flex;
 justify-content: center;
  
}
.quote-box button{
  background: transparent;
  color: rgb(47,255,130);
  border-radius: 25px;
  font-weight: bold;
border: 1px solid rgb(39, 79, 121);;
  width: 150px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}
.quote-box button img{
  width: 20px;
  margin-right: 10px;

}
.quote-box button:nth-child(2) {
  background: transparent;
  
  
  }





